In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np


# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [25]:
# cargamos el dataframe creado en la lección anterior
df = pd.read_csv("archivos-ejercicios/world_data_full.csv", index_col = 0)
df.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,"94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887

# Ejercicios apply
1.Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde

In [ ]:
# Nan es un float
def replace(dato):
    try: 
        if dato.find(","):
            print(f"Entra en el if y el dato es {dato}")
            return float(round(dato.replace(",", ".")),2)
        else: 
            print(f"Entra en el else y el dato es {dato}")
            return float(dato)
    except: 
        print(f"Entra en el except y el dato es {dato}")
        np.nan

In [22]:
def convertir_a_numerico(dato): 
    try:
        dato = dato.astype(float, errors='ignore') 
        return dato # Aplicar la función al DataFrame df = convertir_a_numerico(df, columnas_numericas)
    except:
        return np.nan

In [ ]:
# def convertir_a_numerico(columnas): 
#     columnas = columnas.apply(pd.to_numeric, errors='coerce') 
#     return df # Aplicar la función al DataFrame df = convertir_a_numerico(df, columnas_numericas) print(df) print(df.dtypes)  # Para verificar los tipos de datos

In [23]:
list_col = ["land_area", "armed_forces_size", "co2-emissions", "gdp", "population", "urban_population", "latitude", "longitude", "density", "cpi"]

for col in list_col:
    df[col] = df[col].apply(convertir_a_numerico)

In [24]:
df.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,NaN,AF,58.1,NaN,NaN,32.49,93.0,Kabul,NaN,NaN,2.3,AFN,4.47,2.1,0.70,NaN,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,NaN,NaN
1,Albania,NaN,AL,43.1,NaN,NaN,11.78,355.0,Tirana,NaN,NaN,1.4,ALL,1.62,28.1,1.36,NaN,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,NaN,NaN
2,Algeria,NaN,DZ,17.4,NaN,NaN,24.28,213.0,Algiers,NaN,NaN,2.0,DZD,3.02,0.8,0.28,NaN,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,NaN,41.2,37.2,66.1,11.70,NaN,NaN,NaN
3,Andorra,NaN,AD,40.0,NaN,NaN,7.20,376.0,Andorra la Vella,NaN,NaN,NaN,EUR,1.27,34.0,1.51,NaN,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,NaN,AO,47.5,NaN,NaN,40.73,244.0,Luanda,NaN,NaN,17.1,AOA,5.52,46.3,0.97,NaN,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,NaN,77.5,9.2,49.1,6.89,NaN,NaN,NaN