In [2]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns",None)

In [5]:
df1 = pd.read_csv("world-data-2023_part1.csv", index_col=0)
df2 = pd.read_csv("world-data-2023_part2.csv", index_col=0)
df1.sample(5)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
61,Gabon,9,GA,20.00%,"267,667","7,000",31.61,241.0,Libreville,"5,321",122.19,2.10%,XAF,3.97,90.00%,$0.92
147,Saint Vincent and the Grenadines,284,VC,25.60%,389,NaN,14.24,1.0,Kingstown,220,109.67,2.30%,XCD,1.89,69.20%,NaN
169,Switzerland,219,CH,38.40%,"41,277","21,000",10.00,41.0,Bern,"34,477",99.55,0.40%,CHF,1.52,31.80%,$1.45
67,Grenada,331,GD,23.50%,349,NaN,16.47,1.0,"St. George's, Grenada",268,107.43,0.80%,XCD,2.06,50.00%,$1.12
13,Bangladesh,"1,265",BD,70.60%,"148,460","221,000",18.18,880.0,Dhaka,"84,246",179.68,5.60%,BDT,2.04,11.00%,$1.12

In [7]:
df1["Country"].value_counts()

Country
Afghanistan      1
Saint Lucia      1
Nicaragua        1
Niger            1
Nigeria          1
                ..
Grenada          1
Guatemala        1
Guinea           1
Guinea-Bissau    1
Zimbabwe         1
Name: count, Length: 195, dtype: int64

In [8]:
df2["country"].value_counts()

country
Afghanistan      1
Saint Lucia      1
Nicaragua        1
Niger            1
Nigeria          1
                ..
Grenada          1
Guatemala        1
Guinea           1
Guinea-Bissau    1
Zimbabwe         1
Name: count, Length: 195, dtype: int64

In [6]:
df2.sample(5)

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
35,"$282,318,159,745",101.40%,88.50%,6.2,Santiago,80.0,13.0,$2.00,Spanish,32.20%,2.59,"18,952,038",62.60%,18.20%,34.00%,7.09%,"16,610,135",Chile,"('-35.675147 ', '-71.542969')"
188,"$57,921,286,440",104.20%,10.10%,19.1,Tashkent,71.6,29.0,$0.24,Uzbek,42.70%,2.37,"33,580,650",65.10%,14.80%,31.60%,5.92%,"16,935,729",Uzbekistan,"('41.377491 ', '64.585262')"
120,"$133,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,English,NaN,NaN,"10,084",NaN,NaN,NaN,NaN,NaN,Nauru,"('-0.522778 ', '166.931503')"
57,"$96,107,662,398",101.00%,8.10%,39.1,Addis Ababa,66.2,401.0,NaN,Amharic,37.80%,0.08,"112,078,730",79.60%,7.50%,37.70%,2.08%,"23,788,710",Ethiopia,"('9.145 ', '40.489673')"
179,"$754,411,708,203",93.20%,23.90%,9.1,Istanbul,77.4,17.0,$3.45,Turkish,16.90%,1.85,"83,429,615",52.80%,17.90%,42.30%,13.49%,"63,097,818",Turkey,"('38.963745 ', '35.243322')"

In [9]:
df_merge = df1.merge(df2, left_on="Country", right_on="country")
df_merge.head(2)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"

# Ejercicios de Limpieza

1. Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [10]:
df_merge.drop("country", axis=1, inplace=True)
df_merge.head(1)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"

2. Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:
- No tengan espacios.
- Estén en minúscula.
- No tengan paréntesis, es decir, quitar "(%)", "(Km2)".
- Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.
- Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [11]:
columnas = df_merge.columns
nuevas_columnas = {col: col.split("(")[0].strip().replace(" ", "_").replace("\n", "").replace(":", "").lower() for col in columnas}
df_merge.rename(columns=nuevas_columnas, inplace = True)

In [12]:
df_merge.head(1)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"

3. La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

4. Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

5. Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

6. Guarda el DataFrame para usarlo posteriormente.

## Ejercicios de Filtrado
1. Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

2. Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

3. Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

4. Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

5. Encuentra los países cuyatasa de fertilidad sea mayor a 6.

6. Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

7. Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70